rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthorizedUser() {
      return request.auth != null && (
        request.auth.token.email == 'stebler.patrick@gmail.com' ||
        request.auth.token.email == 'wambstgabrielle@gmail.com'
      );
    }
    
    // Applique cette règle de sécurité à tous les documents de la base de données
    match /{document=**} {
      allow read, write: if isAuthorizedUser();
    }
  }
}
