rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthorizedUser() {
      return request.auth != null && (
        request.auth.token.email == 'stebler.patrick@gmail.com' ||
        request.auth.token.email == 'wambstgabrielle@gmail.com'
      );
    }
    
    // Applique cette règle de sécurité à tous les fichiers stockés
    match /{allPaths=**} {
      allow read, write: if isAuthorizedUser();
    }
  }
}
